
.canvas-container {
  width: 5000px;
  height: 5000px;
  overflow: hidden;
}


.canvas {
  width: 200%;
  height: 200%;
  overflow: auto;
}

textarea {
  width: 100%;
  resize: none;
  height: 100%;
  font-size: 15px;
  border: 'none';
  background-color:  rgb(238, 238, 238) ;
  fill-opacity: 0.4;
  /* opacity: 0.8; */
  color: #000;
}
.object {
  position: absolute;
  border: 2px solid #000000;
  border-radius: 3px;
}


.selected {
  border: 3px solid #111;
  outline-style: solid;
  outline-color: rgb(217, 255, 0);
}



.delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.5);
  /* Red background with transparency */
  padding: 2px 6px;
  border-radius: 3px;
}

/* toolbox related css */


.toolbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.tool-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.tool-button i {
  font-size: 20px;
}

.tool-button.selected {
  background-color: #007bff;
  color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}

.tool-button:hover {
  background-color:  #c0dcf9;
}

.zoom-display {

  margin-left: 10px;
  font-size: 14px;
  color: #333;
}
